.calendar-day {
    height: 320px;
    background: #3468af;
    width: 21rem;
    height: 24rem;
}
    .calendar-day .titular {
        background: #1a4e95;
    }
        .calendar-day .arrow-btn:hover {
            background: #16417E;
        }
    .calendar-day .the-day {
        margin: 0;
        text-align: center;
        font-size: 146px;
    }
    .add-event.button {
        background: #4fc4f6;
    }
        .add-event.button:hover {
            background: #35aadc;
        }
.calendar-month {
    height: 380px;
}
    .calendar-month .titular {
        background: #3468af;
    }
        .calendar-month .arrow-btn:hover {
            background: #1a4e95;
        }
    .calendar {
        margin: 22px 15px;
        text-align: center;
    }
        .calendar a {
            font-size: 17px;
        }
        .calendar td, .calendar th {
            width: 40px;
            height: 38px;						
        }
        .calendar .days-week {
            color: #4fc4f6;
        }
        .calendar .today {
            display: block;
            width: 34px;
            line-height: 34px;
            background: #e64c65;
            border-radius: 100%;
        }